<div class="modal-header">
  <h4 style="font-weight: bold">Вхід</h4>
</div>
<div class="modal-body">
  <form action="" class="form-login">
    <div class="input-group-block">
      <label>Логін</label>
      <div class="block-phone">
        <input type="text" placeholder="+380-000-000-000" type="tel">
      </div>
      <label>Пароль</label>
      <input type="text" placeholder="password" type="password">
    </div>
    <div class="btg-login">
      <button class="button">ВХІД</button>
      <button class="button">РЕЄСТРАЦІЯ</button>
    </div>
    <a style="text-align: center" href='/forgot-password'>Забули
      Пароль?</a>
  </form>
</div>
