@import "./src/app/app.component";

::ng-deep .modal-signIn .modal-dialog {
  max-width: 350px;
}

.modal-header {
  display: block;
  border: none;
  text-align: center;
}

.modal-footer {
  border: none;
}

.modal-body {
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 2px;
}

.block-login {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #f7cd50;
  border-radius: 10px;
}

.block-header {
  background: #00072b;
  color: white;
  width: -webkit-fill-available;
  padding: 10px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  flex-direction: column;
}

.block-phone > p {
  padding: 5px;
  background: white;
  margin: 0;
  align-items: center;
  display: flex;
  font-size: 18px;
  border-radius: 5px 0 0 5px;
}

.form-login {
  display: flex;
  flex-flow: column;
  margin: 0 20px 20px 20px
}

.input-group-block {
  display: flex;
  flex-flow: column;
  margin: 5px;
}

.input-group-block > label {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  margin-top: 14px;
}


.block-phone {
  display: flex;
}

input {
  padding-top: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e6e5e5;
  border-radius: 5px;
  font-size: 18px;
  text-align: left;
  outline: none;

}

.btg-login {
  display: flex;
  flex-flow: column;
  margin-top: 14px;
}
