<ng-sidebar-container>
  <ng-sidebar [(opened)]="opened">
    <div class="sidebar-header">
      <button class="icon-button" (click)="toggleSidebar()">
        <i class="bi bi-x"></i>
      </button>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item" style="border-radius: 0">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button"
                  data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne"
                  style="border-radius: 0">
            Категорії
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show"
             aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body" style="border-radius: 0">
            <ul *ngFor="let category of categories">
              <li>{{category.name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ng-sidebar>
</ng-sidebar-container>
