<div class="modal-header">
  <h4 style="font-weight: bold">Реєстрація</h4>
  <button class="icon-button" (click)="closeModal()">
    <i class="bi bi-x"></i>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="signUpForm" class="form-login">
    <div class="input-group-block">
      <label>Ім'я</label>
      <div class="block-phone">
        <input placeholder="Ім'я" type="text" formControlName="first_name"
               [ngClass]="{'is-invalid':signUpForm.controls['first_name'].invalid &&
               (signUpForm.controls['first_name'].dirty || signUpForm.controls['first_name'].touched)}">
      </div>
      <label>Прізвище</label>
      <input placeholder="Прізвище" type="text" formControlName="last_name"
             [ngClass]="{'is-invalid':signUpForm.controls['last_name'].invalid &&
               (signUpForm.controls['last_name'].dirty || signUpForm.controls['last_name'].touched)}">
      <label>Email</label>
      <input placeholder="example@gmail.com" type="email"
             formControlName="email"
             [ngClass]="{'is-invalid':signUpForm.controls['email'].invalid &&
               (signUpForm.controls['email'].dirty || signUpForm.controls['email'].touched)}">
      <label>Телефон</label>
      <input type="tel" formControlName="phone_number"
             prefix="+380" [mask]="'-000-000-000'"
             [ngClass]="{'is-invalid':signUpForm.controls['phone_number'].invalid &&
                 (signUpForm.controls['phone_number'].dirty || signUpForm.controls['phone_number'].touched)}">
      <label>Пароль</label>
      <input placeholder="password" type="password" formControlName="password"
             [ngClass]="{'is-invalid':signUpForm.controls['password'].invalid &&
               (signUpForm.controls['password'].dirty || signUpForm.controls['password'].touched)}">
      <label>Повторіть Пароль</label>
      <input placeholder="password" type="password"
             formControlName="confirm_password"
             [ngClass]="{'is-invalid':signUpForm.controls['password'].invalid &&
               (signUpForm.controls['confirm_password'].dirty || signUpForm.controls['confirm_password'].touched)}">

    </div>
    <div class="btg-login">
      <button type="submit" name="submit" value="submit" class="button"
              [disabled]="signUpForm.invalid"
              (click)="onSubmit(signUpForm.value)">
        ЗАРЕЄСТРУВАТИСЬ
      </button>
    </div>
  </form>
</div>

<app-toasts></app-toasts>
