.step-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product-cart {
  width: 100%;
  padding: 60px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;

  h1 {
    margin-bottom: -30px
  }

  .header-btn {
    display: flex;
    flex-flow: row-reverse;
    align-items: center
  }
}

.product {
  border: #6b6b6b78 solid 1px;
  margin-bottom: -1px;
  padding: 20px;
  display: flex;

  p {
    font-weight: 700;
  }

  .product-info {
    align-items: center;
    display: flex;

    .product-description {
      margin-right: 20px;
      width: 187px;
      text-align: left;
    }

    .product-action {
      display: flex;
      width: 31rem;

      .input-group {
        height: 40px;
        width: 120px;
        margin-right: 110px;

        input {
          width: 40px;
          border: solid #27a844 1px;
          outline: none;
          text-align: center;
          margin-left: -1px;
        }
      }
    }
  }

  .icon-button {
    position: relative;
    top: -1.5rem;
    right: -3.2rem
  }
}

.icon-basket {
  width: 100px;
  height: 100px;
  font-size: 60px;
  color: #011979;
  border: #011979 solid 2px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
}

.cart-img {
  margin: 5px 30px 5px 5px;
  width: 130px;
  height: 130px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
