<div class="add-product row">
  <form [formGroup]="productForm" class="row">
    <div class="product-form col-sm">
      <label>Name</label>
      <input class="input" type="text" formControlName="name"
             placeholder="name">
      <label>Weight</label>
      <input class="input" type="number" formControlName="weight"
             placeholder="0.00" min="0">
      <label>Price</label>
      <input class="input" type="number" formControlName="price"
             placeholder="0.00" min="0" step="0.01">
      <label>Short Description</label>
      <textarea class="input-description" formControlName="shortDescription">
      </textarea>
    </div>
    <div class="category-form col-sm-3">
      <label>Category</label>
      <div class="inp-group">
        <select class="select" formControlName="category"
                (change)="onSelectSubCategory($event)">
          <option *ngFor="let category of categories"
                  [value]="category.id">{{category.name}}</option>
        </select>
        <button class="icon-button" type="button" (click)="open(category)">
          <i class="bi bi-plus-circle-fill"></i>
        </button>
      </div>
      <label>Subcategory</label>
      <div class="inp-group">
        <select class="select" name="name" formControlName="subcategory">
          <option *ngFor="let subcategory of subcategories"
                  [value]="subcategory.id">{{subcategory.name}}</option>
        </select>
        <button class="icon-button" type="button" (click)="open(subcategory)">
          <i class="bi bi-plus-circle-fill"></i>
        </button>
      </div>
      <label>In-Stock</label>
      <input class="input" type="checkbox" name="name" formControlName="stock">
      <label>Type</label>
      <select class="select" name="name" formControlName="type">
        <option value="LITER">LITER</option>
        <option value="KG">KG</option>
      </select>
      <label>Bar-Code</label>
      <input class="input" type="number" name="name" formControlName="barcode">
    </div>
    <div class="character col-sm">
      <label>Brand</label>
      <input class="input" type="text" name="name" formControlName="brand">
      <label>Packedge</label>
      <input class="input" type="text" name="name" formControlName="packedge">
      <label>Manufacture</label>
      <input class="input" type="text" name="name"
             formControlName="manufacturer">
      <label>Description</label>
      <textarea class="input-description" name="name"
                formControlName="description"></textarea>
      <button type="button" class="btn btn-outline-success"
              style="margin-top: 10px"
              [disabled]="categoryForm.invalid"
              (click)="onSubmit()">Add
      </button>
    </div>

    <div class="image-form">
      <label>Image</label>
      <input #fileInput type='file' (change)="onSelectFile($event);
      imageUpload(fileInput.files)" multiple formControlName="file">
      <div class="row-cols-3">
        <img class="col-6 col-md-4 p-2 card-img-top" style="max-height: 250px"
             *ngFor='let url of urls' [src]="url" height="200">
      </div>
    </div>
  </form>

  <ng-template #category let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Category</h4>
      <button type="button" class="close" aria-label="Close"
              (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="categoryForm">
      <div class="modal-body">
        <div class="form-group">
          <label for="category">Name</label>
          <div class="input-group">
            <input class="input" type="text" id="category"
                   formControlName="name"
                   style="width: 400px">
          </div>
          <label>Image</label>
          <input #fileInput type="file" formControlName="file"
                 (change)="imageUpload(fileInput.files)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success"
                [disabled]="categoryForm.invalid"
                (click)="onSubmitCategory()">Add
        </button>
      </div>
    </form>
  </ng-template>

  <ng-template #subcategory let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Add Sub-Category</h4>
      <button type="button" class="close" aria-label="Close"
              (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="subcategoryForm">
        <div class="form-group">
          <label for="category-w">Category</label>
          <div class="input-group">
            <select class="input" name="name" id="category-w"
                    style="width: 300px" formControlName="category">
              <option *ngFor="let category of categories"
                      [value]="category.id">{{category.name}}
              </option>
            </select>
          </div>
          <label for="sub-category">Name</label>
          <div class="input-group">
            <input class="input" type="text" id="sub-category"
                   formControlName="name" style="width: 300px">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success"
              [disabled]="subcategoryForm.invalid"
              (click)="onSubmitSubcategory(subcategoryForm.value); modal.close('Save click')">
        Add
      </button>
    </div>
  </ng-template>
</div>


<app-toasts></app-toasts>
