<nav class="navbar navbar-expand-sm navbar-dark">
  <button class="icon-button" (click)="toggleSidebar()">
    <i class="bi bi-list"></i>
  </button>
  <a class="navbar-brand" [routerLink]="'catalog'">Product Shop</a>
  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button class="icon-button navbar-toggler"
          (click)="isMenuCollapsed = !isMenuCollapsed">
    <i class="bi bi-three-dots-vertical" style="font-size: 1rem"></i>
  </button>
  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <div class="navbar-nav">
      <!-- Step 4: Close the menu when a link is clicked. -->
      <div class="input-group mb-1">
        <span class="input-group-text"
              style="background: #272b3f; border: none; border-radius: 0.25rem 0 0 0.25rem;">
          <i class="bi bi-search" style="font-size: 1rem"></i>
        </span>
        <input type="text" class="form-control" placeholder="Search..."
               style="background: #272b3f; border: none; color: white;
               outline: none;" aria-describedby="basic-addon1">
      </div>
    </div>
  </div>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse"
       style="flex-flow: row-reverse">
    <div [ngbCollapse]="isMenuCollapsed" class="collapse-button">
      <button type="button" class="icon-button" [routerLink]="'cart'">
        <i class="bi bi-basket"></i>
      </button>
      <button type="button" class="icon-button" [routerLink]="'sign-in'">
        <i class="bi bi-person-circle"></i>
      </button>
    </div>
  </div>
</nav>

<ng-sidebar-container [contentClass]="left">
  <ng-sidebar [(opened)]="opened">
    <div class="sidebar-header">
      <button class="icon-button" (click)="toggleSidebar()">
        <i class="bi bi-x"></i>
      </button>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item" style="border-radius: 0">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button"
                  data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne"
                  style="border-radius: 0">
            Category
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show"
             aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body" style="border-radius: 0">
            <ul>
              <li>1</li>
              <li>1</li>
              <li>1</li>
              <li>1</li>
              <li>1</li>
              <li>1</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ng-sidebar>
</ng-sidebar-container>

<div class="container">
  <router-outlet></router-outlet>
</div>

