<div class="page-content">
  <div class="block-login">
    <div class="block-header">
      <p style="margin: 0">LOGIN FORM</p>
    </div>
    <form action="" class="form-login">
      <div class="input-group-block">
        <label>Phone Number</label>
        <div class="block-phone">
          <p>+380</p>
          <input type="text" placeholder="000-000-000" type="tel"
                 class="input-phone">
        </div>
        <label>Password</label>
        <input type="text" placeholder="password" type="password" class="input-password">
      </div>
      <div class="btg-login">
        <button class="button">LOGIN</button>
        <button class="button">REGISTER</button>
      </div>
      <a style="text-align: center" href='/forgot-password'>Forgot Password</a>
    </form>
  </div>
</div>
