<div class="add-category row">
  <div class="product">
    <h1 *ngIf="isAddMode">Add Category</h1>
    <h1 *ngIf="!isAddMode">Edit Category</h1>
    <div class="row">
      <form [formGroup]="categoryForm" class="category-form col-sm col">
        <label>Name</label>
        <input class="input" type="text" formControlName="name">
        <label>Image</label>
        <select class="input" formControlName="image"
                (change)="prevImage($event.target.value)">
          <option *ngFor="let image of imageCategory"
                  value="{{image.image_url}}">{{image.name}}</option>
        </select>
        <button *ngIf="isAddMode" type="button" class="btn btn-outline-success"
                style="margin-top: 10px" [disabled]="categoryForm.invalid"
                (click)="onSubmit(categoryForm.value)">Add Category
        </button>
        <button *ngIf="!isAddMode" type="button" class="btn btn-outline-warning"
                style="margin-top: 10px" [disabled]="categoryForm.invalid"
                (click)="onUpdate(categoryForm.value)">Edit Category
        </button>
      </form>

      <form [formGroup]="imageForm" class="image-form col-sm">
        <label>Image</label>
        <div class="input-group">
          <input #fileInput type="file" class="form-control input"
                 (change)="onSelectFile($event);
                       imageUpload(fileInput.files)" formControlName="file">

          <button class="btn btn-outline-success" type="button"
                  (click)="uploadImage()">Upload
          </button>
        </div>
        <div class="image-preview">
          <img class="card-img-top" [src]="urls">
        </div>
      </form>
    </div>
  </div>
</div>

<app-toasts></app-toasts>
