<div class="add-category row">
  <form [formGroup]="categoryForm" class="row">
    <div class="category-form col-sm">
      <label>Name</label>
      <input class="input" type="text" formControlName="name">
      <button type="button" class="btn btn-outline-success"
              style="margin-top: 10px"
              [disabled]="categoryForm.invalid"
              (click)="onSubmit()">Add Category
      </button>
    </div>
    <div class="image-form col-sm">
      <label for="image">Image</label>
      <input type='file' (change)="uploadFile($event); onSelectFile($event)" id="image">
      <div class="image-preview">
        <img class="card-img-top" [src]="urls">
      </div>
    </div>
  </form>
</div>

<app-toasts></app-toasts>
