.add-category {
  margin-left: 250px;
  margin-top: 10px;
  margin-right: 20px;
  background: #1226372e;
  border-radius: 10px;
  padding: 20px;
}

.category-form {
  display: flex;
  flex-flow: column;
}
