<div class="container-lg">
  <div class="product-block">
    <h2>{{headerName}}</h2>
    <div class="product-filter d-none d-md-block d-lg-block">
      <ngb-accordion *ngFor="let category of categories"
                     (panelChange)="toggleAccordion($event, category.id)">
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <div class="accordion-btn">
              {{category.name}}
              <div class="collapse-icon">
                <i *ngIf="!isContentOpen[category.id]"
                   class="bi bi-chevron-down"
                   style="color: black"></i>
                <i *ngIf="isContentOpen[category.id]" class="bi bi-chevron-up"
                   style="color: white"></i>
              </div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div style="display: flex;flex-flow: column"
                 *ngFor="let subCategory of category.sub_categories">
              <a class="text-link">{{subCategory.name}}</a>
            </div>
          </ng-template>
        </ngb-panel>
        <hr>
      </ngb-accordion>
      <!--      <h2>Filter By Price</h2>-->
      <!--      <div class="filter-rice">-->
      <!--        <input type="number" [(ngModel)]="minValue">-->
      <!--        - -->
      <!--        <input type="number" [(ngModel)]="maxValue">-->
      <!--        $-->
      <!--      </div>-->
      <!--      <ngx-slider [(value)]="minValue" [(highValue)]="maxValue"-->
      <!--                  [options]="options"></ngx-slider>-->
      <!--      <h2>Filter by Value</h2>-->
      <!--      <div class="product-filter-checkbox">-->
      <!--        <div class="input-group" style="align-items: center">-->
      <!--          <input class="m-3" type="checkbox" value="">-->
      <!--          <h4>Value</h4>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
    <div class="product-sorting-header">
      <span style="margin-left: 10px; margin-right: 10px">Сортувати по:</span>
      <ng-select [items]="cities"
                 bindLabel="name"
                 [(ngModel)]="selectedCity"
                 style="width: 240px">
      </ng-select>
      <!--      <button class="icon-button d-md-none d-sm-block"-->
      <!--              (click)="toggleSidebar()">-->
      <!--        <i class="bi bi-filter-square" style="color: black"></i>-->
      <!--      </button>-->
      <div class="right-button">
        <button class="icon-button">
          <i class="bi bi-grid-3x3-gap-fill" style="color: black"></i>
        </button>
      </div>
    </div>
    <div class="product-list">
      <div class="row">
        <div class="col-6 col-md-3 product-card"
             *ngFor="let product of products">
          <div [routerLink]="['/product-detail', product.id]">
            <div class="discount">
              <p>Акція</p>
            </div>
            <div class="heart-ico">
              <i class="bi bi-heart" style="color: #81d44b"></i>
            </div>
            <div *ngFor="let image of product.image"
                 [routerLink]="['/product-detail', product.id]">
              <img class="img-fluid" [src]="image.image">
            </div>
            <p>{{product.name}}</p>
          </div>
          <div *ngIf="product.active; else inactive" class="price-group">
            <p style="font-weight: bold; font-size: 20px">{{product.price}}
              ₴</p>
            <button class="icon-button-cart">
              <i class="bi bi-cart-plus"></i>
            </button>
          </div>
          <ng-template #inactive>
            <p style="color: red; text-align: center">Товар відсутній</p>
          </ng-template>
          <!--          <button class="icon-button">-->
          <!--            <i class="bi bi-cart-check"></i>-->
          <!--          </button>-->
        </div>
      </div>
    </div>
  </div>
</div>
